
<div class="welcome">
    <h1>Please add a product!</h1>
</div>

<div class="container center form-specs">
    <div class="card" style="padding: 20px;">
        <form #addProductForm="ngForm" (ngSubmit)="addProduct(addProductForm)">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter product name</mat-label>
                    <input matInput
                    type="text"
                    ngModel
                    name="productName"
                    id="productName"
                    placeholder="Enter product name"
                    class="field"
                    [(ngModel)]="product.productName"
                    required
                    >
                </mat-form-field>
            </p>
            <div *ngIf="nameNotFound"  class="error-style">
                    Please enter the product name!
            </div>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter product description</mat-label>
                    <input matInput
                    type="text"
                    ngModel
                    name="productDescription"
                    id="productDescription"
                    placeholder="Enter product description"
                    class="field"
                    [(ngModel)]="product.productDescription"
                    >
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter product discounted price</mat-label>
                    <input matInput
                    type="number"
                    ngModel
                    name="productDiscountedPrice"
                    id="productDiscountedPrice"
                    placeholder="Enter product discounted price"
                    class="field"
                    [(ngModel)]="product.productDiscountedPrice"
                    >
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter product actual price</mat-label>
                    <input matInput
                    type="number"
                    ngModel
                    name="productActualPrice"
                    id="productActualPrice"
                    placeholder="Enter product actual price"
                    class="field"
                    [(ngModel)]="product.productActualPrice"
                    required
                    >
                </mat-form-field>
            </p>
            <div *ngIf="priceNotFound"  class="error-style">
                Please enter the product price!
            </div>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter product delivery days</mat-label>
                    <input matInput
                    type="number"
                    ngModel
                    name="deliveryDays"
                    id="deliveryDays"
                    placeholder="Enter product delivery days"
                    class="field"
                    [(ngModel)]="product.deliveryDays"
                    >
                </mat-form-field>
            </p>

            <p>

                <mat-form-field appearance="outline">
                    <mat-label>Choose a type</mat-label>
                    <select
                    ngModel
                    name="type"
                    id="type"
                    placeholder="Choose a type"
                    class="field"
                    [(ngModel)]="product.type" matNativeControl required>
                        <option value="Foundation">Foundation</option>
                        <option value="Concelear">Concelear</option>
                        <option value="Face powder">Face powder</option>
                        <option value="Make-up palette">Make-up palette</option>
                        <option value="Mascara">Mascara</option>
                        <option value="Eyeliner">Eyeliner</option>
                        <option value="Eye pencil">Eye pencil</option>
                        <option value="False lashes">False lashes</option>
                        <option value="Eyebrows pencil">Eyebrows pencil</option>
                        <option value="Eyebrows gel">Eyebrows gel</option>
                        <option value="Lipstick">Lipstick</option>
                        <option value="Gloss">Gloss</option>
                        <option value="Lip pencil">Lip pencil</option>
                        <option value="Lip balm">Lip balm</option>
                        <option value="Nail polish">Nail polish</option>
                        <option value="Nail base">Nail base</option>
                        <option value="Top coat">Top coat</option>
                        <option value="Make-up brushes">Make-up brushes</option>
                        <option value="Woman eau de parfume">Woman eau de parfume</option>
                        <option value="Woman eau de toalette">Woman eau de toalette</option>
                        <option value="Man eau de parfume">Man eau de parfume</option>
                        <option value="Man eau de toalette">Man eau de toalette</option>
                        <option value="Day face cream">Day face cream</option>
                        <option value="Night face cream">Night face cream</option>
                        <option value="Face mask">Face mask</option>
                        <option value="Lipstick">Lipstick</option>
                        <option value="Body cream">Body cream</option>
                        <option value="Body oil">Body oil</option>
                        <option value="Hands care">Hands care</option>
                        <option value="Feet care">Feet care</option>
                        <option value="Shampoo">Shampoo</option>
                        <option value="Hair balm">Hair balm</option>
                        <option value="Hair mask">Hair mask</option>
                        <option value="Hair oil">Hair oil</option>
                        <option value="Hair tie">Hair tie</option>
                        <option value="Hair brush">Hair brush</option>
                        <option value="Hair pins">Hair pins</option>
                        <option value="Hair gel">Hair gel</option>
                        <option value="Hair spray">Hair spray</option>
                        <option value="Hair wax">Hair wax</option>
                        <option value="Shower gel">Shower gel</option>
                        <option value="Shower oil">Shower oil</option>
                        <option value="Soap">Soap</option>
                        <option value="Bath salt">Bath salt</option>
                    </select>
                </mat-form-field>
            </p>
            <div *ngIf="typeNotFound"  class="error-style">
                Please choose the product type!
            </div>

            <div class="dropzone" appDrag
            (files)="fileDropped($event)">
                <div class="text-wrapper centered">
                    Drag and drop your file or <a (click)="selectFile.click()" class="browse-button">browse</a> a file
                </div>
            </div>
            <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1">
                            <mat-grid-tile *ngFor="let file of product.productImages; let i = index;">
                                <div style="position: relative;">
                                    <img [src]="file.url" width="100px" height="100px">
                                    <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
            </div>

            <div *ngIf="imageNotFound"  class="error-style">
                Please upload at least one image!
            </div>

            <div>
                <input type ="file" multiple value="select" #selectFile
                (change)="onFileSelected($event)" style="display: none;">
                <button *ngIf="isNewProduct" type="Submit" class="rounded-2 w-100 btn-color">Add product </button>
                <button *ngIf="!isNewProduct" type="Submit" class="rounded-2 w-100 btn-color">Update product </button>
            </div>
        </form>
    </div>
</div>
