<!-- Add some image -->
<div class="banner-img">
    <img src="https://www.organicauthority.com/.image/t_share/MTU5MzMwNjM3NzM2OTc3NjIy/bath-products.jpg">
    <div class="top-left-title">Bath</div>
    <div class="top-left-content">
        Elevate your daily shower routine with our line of luxurious body washes. Formulated with nourishing ingredients and rich fragrances, they'll leave your skin feeling soft, smooth, and refreshed
    </div>
</div>
<table>
    <tr>
        <td>
            <button routerLink="/bath/shower-gel" class="menu">Shower gel</button>
        </td>
        <td>
            <button routerLink="/bath/shower-oil" class="menu">Shower oil</button>
        </td>
        <td>
            <button routerLink="/bath/soap" class="menu">Soap</button>
        </td>
        <td>
            <button routerLink="/bath/bath-salt" class="menu">Bath salt</button>
        </td>
    </tr>
</table>