<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div clss="container" style="margin-top: 100px;margin-bottom: 100px;">
    <div class="row">
      <div class="col-6">
        <div class="card image-container">
          <img [src]="product.productImages[selectedProductIndex].url" class="product-zoom-image">
        </div>
        <div class="mt-2">
          <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10">
            <mat-grid-tile *ngFor="let file of product.productImages; let i = index;"
            (click)="changeIndex(i)" class="images">
            <img [src]="file.url" class="product-zoom-image">
            </mat-grid-tile>
          </mat-grid-list>
      </div>
      </div>
      <div class="col-6">
        <div class="product-information">
           <div class="mt-3">
              <h2>
                {{product.productName}}
              </h2>
           </div>
           <div class="mt-3">
            Description: <br>
              {{product.productDescription}}
         </div>
         <div class="mt-3" *ngIf="product.productDiscountedPrice !== 0 && product.productDiscountedPrice !== null">
          <b>
            ${{product.productDiscountedPrice}}
          </b>
          &nbsp;
          <b style="text-decoration: line-through;">
            ${{product.productActualPrice}}
          </b>
         </div>

         <div class="mt-3" *ngIf="product.productDiscountedPrice === 0 || product.productDiscountedPrice === null">
          <b>
            ${{product.productActualPrice}}
          </b>
         </div>
        <div class="text-center"  style="padding-top: 300px">
        <button class="btn-color" (click)="openModal(product.id); addToCart(product.id)" *ngIf="!isAdmin() &&  isLoggedIn() && product.productStock > 0">
          Add to cart
        </button>

        <div id="id01-{{product.id}}" class="w3-modal">
          <div class="w3-modal-content" style="max-width: 600px">
            <div class="w3-container w3-modal-conten">
              <div class="modal-margin">
                <div style="margin-bottom: 50px;"> Product added in cart! </div>
                <button class="btn-style" style="background-color: #e0a991;" (click)="closeModal(product.id)">Continue Shopping</button>
                <button class="btn-style" (click)="closeModal(product.id)" routerLink="/cart">Go to cart</button>
              </div>
            </div>
          </div>
        </div>

        <button class="btn-color" (click)="openErrorModal(product.id);" *ngIf="!isLoggedIn()  && product.productStock > 0">
          Add to cart
        </button>

        <div id="id02-{{product.id}}" class="w3-modal">
          <div class="w3-modal-content" style="max-width: 600px">
            <div class="w3-container w3-modal-conten">
              <span (click)="closeErrorModal(product.id)" class="w3-button w3-display-topright">&times;</span>
              <div class="modal-margin">
                <div style="margin-bottom: 50px; font-size: 20px;"> Please <a href="/authenticate">log in</a> to add products to cart! </div>
              </div>
            </div>
          </div>
        </div>

        <button class="btn-disabled" *ngIf="isAdmin()  && product.productStock > 0" disabled>
          Add to cart
        </button>
        <div *ngIf="product.productStock <= 0">
          <h5>Product out of stock!</h5>
        </div>
        </div>
      </div> 
    </div>
</div>