:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    font-weight: normal;
  }

  p {
    margin: 0;
    font-weight: normal;
  }


  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #9e7361;
    color: white;
    font-weight: 600;
    position: fixed;
    z-index: 1000; 
    font-weight: normal;
  }

  table {
    width: 100%;
    font-weight: normal;
  }

  .toolbar #user-logo {
    height: 40px;
    margin: 0px 10px;
    text-align: right;
    font-weight: normal;
  }

  .toolbar #menu-logo {
    height: 40px;
    margin: 0px 10px;
    font-weight: normal;
  }

  .toolbar #shopping-logo {
    height: 40px;
    margin: 0 10px;
    text-align: right;
    font-weight: normal;
  }

  .toolbar #home-logo {
    height: 40px;
    margin: 0 10px;
    text-align: right;
    font-weight: normal;
  }

  .toolbar #user-logo:hover,
  .toolbar #shopping-logo:hover,
  .toolbar #home-logo:hover
  .toolbar #menu-logo:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-weight: normal;
  }

  .toolbar #shopping-logo-current,
  .toolbar #home-logo-current {
    height: 40px;
    margin: 0 10px;
    text-align: right;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-weight: normal;
  }

  .header-search {
    -webkit-box-flex: 10;
    flex: 10 0 0;
    font-weight: normal;
    }

  .store {
    height: 30px;
    margin: 0 16px;
    font-weight: 600;
    font-size: 150%;
    font-family: 'Bradley Hand', cursive;
    font-weight: normal;
  }

  .products {
    display: inline;
    font-weight: normal;
  }

  .products-small {
    display: inline;
    font-weight: normal;
  }

  .search-bar {
    width: 100%;
    max-width: 230px;
    max-height: 25px;
    display: flex;
    background-color: whitesmoke;
    opacity: 50%;
    align-items: center;
    border-radius: 60px;
    padding: 2px 2x;
    font-weight: normal;
  }

  .search-bar input {
    background-color: transparent;
    border: 0;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
  }

  .search-bar button {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    font-weight: normal;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
    font-weight: normal;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
    font-weight: normal;
  }


/* small-dropdown Button */
.dropbtn {
    /* background-color: #04AA6D; */
    color: white;
    padding: 7px;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    height: 40px;
    margin: 0px 10px;
    text-align: right;
    font-weight: normal;
  }

  .dropbtn:hover {
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-weight: normal;
  }

  .dropbtn-current {
    padding: 7px;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    color: white;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-weight: normal;
  }

  .admin-functions {
    color: white;
    padding: 7px;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    cursor:default;
    font-weight: normal;
  }

    /* Links inside the small-dropdown */
    /* .dropbtn a {
        color: white;
        text-decoration: none;
        display: block;
      } */
      
  
  /* The container <div> - needed to position the small-dropdown content */
  .small-dropdown {
    position: relative;
    display: none;
    visibility: hidden;
    font-weight: normal;
  }
  
  /* small-dropdown Content (Hidden by Default) */
  .small-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    background-color: white;
    min-width:max-content; 
    font-weight: normal;
  }
  
  /* Change color of small-dropdown links on hover */
  .small-dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the small-dropdown menu on hover */
  .small-dropdown:hover .small-dropdown-content {display: block;}

  .content {
    padding: 32px;
  }

  .authenticate {
    color: white;
    width: 70px;
    border: transparent;
    background-color: rgb(128, 67, 5);
    border-radius: 6px;
    margin: 2px 2px;
    padding: 10px;
    font-weight: normal;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-weight: normal;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 200px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    font-weight: normal;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  .dropbtn-small {
    /* background-color: #04AA6D; */
    color: black;
    padding: 7px;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    margin: 0px 10px;
    text-align: right;
    font-weight: normal;
  }

  .dropbtn-small:hover {
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-weight: normal;
  }

  .dropbtn-small-current {
    padding: 7px;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    color: black;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-weight: bold;
    font-weight: normal;
  }

  .search-bar-small {
    width: 100%;
    max-width: 60px;
    max-height: 25px;
    display: flex;
    background-color: whitesmoke;
    opacity: 50%;
    align-items: center;
    border-radius: 60px;
    padding: 2px 2x;
    display: none;
    visibility: hidden;
    font-weight: normal;
  }

  .search-bar-small input {
    background-color: transparent;
    border: 0;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
    max-width: 20px;
    max-height: 25px;
    font-weight: normal;
  }

  .search-bar-small button {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    font-weight: normal;
  }

  .cart_count {
    display: inline;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    left: 30px;
    font-size: 12px;
    font-weight: normal;
  }

  @media screen and (max-width: 950px) {
    .products {
      display: none;
      visibility: hidden;
    }

    .small-dropdown {
      display: inline-block;
      visibility: visible;
    }
    .store {
      font-size: 75%;
    }

    .search-bar {
      display: none;
      visibility: hidden;
    }

    .search-bar-small {
      display: inline-block;
      visibility: visible;
    }
  }
 