table {
    width: 100%;
}

  table td {
    padding: 10px;
  }


.btn-color {
  background-color: #9e7361;
    color: white;
    padding: 8px;
    border-radius: 6px;
    width: 150px;
    border-color: transparent;
}

.btn-color:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.quantity-btn {
  border: none;
  background-color: transparent;
}

.welcome {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 150%;
  font-family: 'Bradley Hand', cursive;
}

.empty-cart-img {
  width: 200px;
  height: 200px;
  padding: 50px;
}

.modal-margin {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';