<!-- Add some image -->
<div class="banner-img">
    <img src="https://i.pinimg.com/736x/06/fa/0b/06fa0b98ad299a3cc497d38d314de444.jpg">
    <div class="top-left-title">Perfume</div>
    <div class="top-left-content">
        Indulge in the luxury of scent with our collection of perfumes. From fresh and floral to spicy and exotic, each fragrance captures a unique essence that embodies the very essence of elegance and beauty. Find your signature scent and make every day a little more magical.
    </div>
</div>
<table>
    <tr>
        <td>
            <button routerLink="/perfume/for-women" class="menu">Perfumes for women</button>
        </td>
        <td>
            <button routerLink="/perfume/for-men" class="menu">Perfumes for men</button>
        </td>
    </tr>
</table>