<!-- Add some image -->
<div class="banner-img">
    <img src="https://media.istockphoto.com/id/1300459022/photo/natural-organic-spa-cosmetic-products-set-with-eucalyptus-leaves-top-view-herbal-skincare.jpg?b=1&s=170667a&w=0&k=20&c=6_z9QmxfFDMvwLdM41BUHswrHLOFkLtIkewZ9aBkFZk=">
    <div class="top-left-title">Skin care</div>
    <div class="top-left-content">
        Get the flawless, radiant skin you've always dreamed of with our cutting-edge skincare products. From nourishing cleansers to rejuvenating serums, our skincare line is packed with ingredients that deeply hydrate and protect your skin from environmental stressors. Say goodbye to dull, tired-looking skin and say hello to a bright, glowing complexion that's sure to turn heads. Try our products today and see the difference for yourself.
    </div>
</div>
<table>
    <tr>
        <td>
            <button routerLink="/skin-care/face-care" class="menu">Face care</button>
        </td>
        <td>
            <button routerLink="/skin-care/body-care" class="menu">Body care</button>
        </td>
        <td>
            <button routerLink="/skin-care/hands-care" class="menu">Hands care</button>
        </td>
        <td>
            <button routerLink="/skin-care/feet-care" class="menu">Feet care</button>
        </td>
    </tr>
</table>