table {
    width: 100%;
  }

td {
    text-align: center;
    padding: 2%;
}

.menu {
    width: 160px;
    height: 50px;
    color: white;
    background-color: rgb(98, 173, 122);
    border: transparent;
    font-size: 15px;
}

.menu:hover {
    color: white;
    transform: translateY(-3px);
    background-color: rgb(98, 173, 122);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.banner-img {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.banner-img img {
    border: 1.25rem solid #000;
    object-fit: cover;
    object-position: 100% 100%;
    width: 95%;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 70%;
}

.top-left-title {
    position: absolute;
    top: 40px;
    left: 60px;
    color: black;
    font-size: 30px;
    font-weight: bold;
  }

.top-left-content {
    position: absolute;
    top:  80px;
    left: 60px;
    color: black;
    font-size: 16px;
    margin-right: 20%;
    text-align: left;
    display: block;
    visibility: visible;
}

@media screen and (max-width: 800px) {
    .menu {
        width: 80px;
        height: 50px;
        color: white;
        background-color: rgb(98, 173, 122);
        border: transparent;
        font-size:  12px;
    }
}

@media screen and (max-width: 1200px) {
    .top-left-content {
        display: none;
        visibility: hidden;
    }
}

mat-grid-tile {
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .home-page-product-image {
    max-width: 70%;
    max-height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10%;
    margin-left: 15%;
    
  }

  .btn-color {
    background-color: #9e7361;
      color: white;
      padding: 8px;
      border-radius: 6px;
      width: 150px;
      border-color: transparent;
  }
  
  .btn-color:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }

  .btn-position {
    position: absolute;
    bottom: 5%;
    left: 0;
  }

  .name-position {
    position: absolute;
    bottom: 25%;
    left: 0;
  }

  .price-position {
    position: absolute;
    bottom: 20%;
    left: 0;
  }

  .products {
    display: block;
    visibility: visible;
  }

  .small-products {
    display: none;
    visibility: hidden;
  }

  .container {
    margin-top: 100px;
  }

  .welcome {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 150%;
    font-family: 'Bradley Hand', cursive;
  }

  .current_page_number{
    display: inline;
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
  }

  @media screen and (max-width: 800px) {
    .products {
      display: none;
      visibility: hidden;
    }

    .small-products {
      display: block;
      visibility: visible;
    }
  }