<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class=" mt-5 p-3">
    <div style="margin-bottom: 30px">
        <div class="dropdown">
            <mat-icon>
                filter_list
            </mat-icon>
            <div class="dropdown-content">
                <table>
                    <tr>
                        <td> 
                        <button class="dropbtn" *ngIf="status !== 'All'" (click)="changeStatus('All')">All </button>
                        <button class="dropbtn-current" *ngIf="status == 'All'" (click)="changeStatus('All')">All </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="dropbtn"  *ngIf="status !== 'Placed'" (click)="changeStatus('Placed')">Placed </button>
                            <button class="dropbtn-current"  *ngIf="status === 'Placed'" (click)="changeStatus('Placed')">Placed </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="dropbtn"  *ngIf="status !== 'Delivered'" (click)="changeStatus('Delivered')"> Delivered </button>
                            <button class="dropbtn-current"  *ngIf="status === 'Delivered'" (click)="changeStatus('Delivered')"> Delivered </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div>
        <table mat-table [dataSource]="allOrderDetails" class="mat-elevation-z8">
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Id </b></th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="Order Details">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Order Details </b></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button class="btn-color" (click)="openModal(element.id)">
                        See products
                    </button>
    
                    <div id="id01-{{element.id}}" class="w3-modal">
                        <div class="w3-modal-content" style="max-width: 600px">
                          <div class="w3-container w3-modal-conten">
                            <span (click)="closeModal(element.id)" class="w3-button w3-display-topright">&times;</span>
                            <div class="modal-margin">
                                <table mat-table [dataSource]="element.products" class="mat-elevation-z8">
                                    <ng-container matColumnDef="Product Name">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Product Name </b></th>
                                        <td mat-cell *matCellDef="let el" class="text-center"> {{el.product.productName}} </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="Price">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Price </b></th>
                                        <td mat-cell *matCellDef="let el" class="text-center">
                                            <div class="mt-3" *ngIf="el.product.productDiscountedPrice !== 0 && el.product.productDiscountedPrice !== null">
                                                <span>
                                                  ${{el.product.productDiscountedPrice}}
                                                </span>
                                                &nbsp;
                                                <span style="text-decoration: line-through;">
                                                  ${{el.product.productActualPrice}}
                                                </span>
                                               </div>
                                      
                                               <div class="mt-3" *ngIf="el.product.productDiscountedPrice === 0 || el.product.productDiscountedPrice === null">
                                                <span>
                                                  ${{el.product.productActualPrice}}
                                                </span>
                                            </div>
                                        </td>
    
                                    <ng-container matColumnDef="Quantity">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Quantity </b></th>
                                        <td mat-cell *matCellDef="let el" class="text-center"> {{el.quantity}} </td>
                                    </ng-container>
                                    </ng-container>
    
                                      <tr mat-header-row *matHeaderRowDef="displayedModalColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedModalColumns;"></tr>
                                </table>
                            </div>
                          </div>
                        </div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Name </b></th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.orderFullName}} </td>
            </ng-container>

            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Address </b></th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.orderFullAddress}} </td>
            </ng-container>

            <ng-container matColumnDef="Contact Number">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Contact Number </b></th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.orderContactNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="Order Amount">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Order Amount </b></th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.orderAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="Date Placed">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Date Placed</b></th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.orderDatePlaced}} </td>
            </ng-container>

            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Status </b></th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.orderStatus}} </td>
            </ng-container>

            <ng-container matColumnDef="Delivery Method">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Delivery Method </b></th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.deliveryMethod}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b> Action </b></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button *ngIf="element.orderStatus == 'Placed'" class="btn-color" (click)="markAsDelivered(element.id)">
                        Mark as Delivered
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>