<!-- Add some image -->
<div class="banner-img">
    <img src="https://images.squarespace-cdn.com/content/v1/5c5511bd0cf57deee8f5bd59/1555983447525-JT066R3WLG9RTAVP6MQT/west-palm-beach-makeup-artist-banner.jpg?format=2500w">
    <div class="top-left-title">Make-up</div>
    <div class="top-left-content">
        Experience the ultimate in luxury with our high-end makeup line. Indulge in rich, velvety textures and gorgeous, highly-pigmented colors that will make you feel like royalty
    </div>
</div>
<table>
    <tr>
        <td>
            <button routerLink="/make-up/face" class="menu">Face</button>
        </td>
        <td>
            <button routerLink="/make-up/eyes" class="menu">Eyes</button>
        </td>
        <td>
            <button routerLink="/make-up/eyebrows" class="menu">Eyebrows</button>
        </td>
    </tr>
    <tr>
        <td>
            <button routerLink="/make-up/lips" class="menu">Lips</button>
        </td>
        <td>
            <button routerLink="/make-up/nails" class="menu">Nails</button>
        </td>
        <td>
            <button routerLink="/make-up/brushes" class="menu">Make-up brushes</button>
        </td>
    </tr>
</table>